In [1]:
# Import general libraries
import pandas as pd

In [2]:
%config Completer.use_jedi = False  # fix broken autocomplete

## Read data files

In [3]:
df_mon = pd.read_csv('data/monday.csv', sep=";")

In [4]:
df_tue = pd.read_csv('data/tuesday.csv', sep=";")

In [5]:
df_wed = pd.read_csv('data/wednesday.csv', sep=";")

In [6]:
df_thu = pd.read_csv('data/thursday.csv', sep=";")

In [7]:
df_fri = pd.read_csv('data/friday.csv', sep=";")

## Merge data

In [8]:
df = pd.concat([df_mon, df_tue, df_wed, df_thu, df_fri])

In [9]:
df

                timestamp  customer_no  location
0     2019-09-02 07:03:00            1     dairy
1     2019-09-02 07:03:00            2     dairy
2     2019-09-02 07:04:00            3     dairy
3     2019-09-02 07:04:00            4     dairy
4     2019-09-02 07:04:00            5    spices
...                   ...          ...       ...
5120  2019-09-06 21:50:00         1500     dairy
5121  2019-09-06 21:50:00         1507  checkout
5122  2019-09-06 21:50:00         1508  checkout
5123  2019-09-06 21:50:00         1509    drinks
5124  2019-09-06 21:50:00         1510    spices

[24877 rows x 3 columns]

In [10]:
df.shape

(24877, 3)

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [12]:
df['weekday'] = df['timestamp'].dt.day_name()

In [17]:
df['weekday_num'] = df['timestamp'].dt.weekday

In [18]:
df['time'] = df['timestamp'].dt.time

In [23]:
# Add unique customer index
df['customer_id']=df['weekday_num'].astype(str) + "_" + df['customer_no'].astype(str)

## Save data

In [24]:
df.to_csv('data/full_data.csv', sep=";", index = False)

In [25]:
df.dtypes

timestamp      datetime64[ns]
customer_no             int64
location               object
weekday                object
weekday_num             int64
time                   object
customer_id            object
dtype: object

In [26]:
df

,timestamp,customer_no,location,weekday,weekday_num,time,customer_id
0,2019-09-02 07:03:00,1,dairy,Monday,0,07:03:00,0_1
1,2019-09-02 07:03:00,2,dairy,Monday,0,07:03:00,0_2
2,2019-09-02 07:04:00,3,dairy,Monday,0,07:04:00,0_3
3,2019-09-02 07:04:00,4,dairy,Monday,0,07:04:00,0_4
4,2019-09-02 07:04:00,5,spices,Monday,0,07:04:00,0_5
...,...,...,...,...,...,...,...
5120,2019-09-06 21:50:00,1500,dairy,Friday,4,21:50:00,4_1500
5121,2019-09-06 21:50:00,1507,checkout,Friday,4,21:50:00,4_1507
5122,2019-09-06 21:50:00,1508,checkout,Friday,4,21:50:00,4_1508
5123,2019-09-06 21:50:00,1509,drinks,Friday,4,21:50:00,4_1509
5124,2019-09-06 21:50:00,1510,spices,Friday,4,21:50:00,4_1510