In [19]:
# Import general libraries
import pandas as pd

In [20]:
%config Completer.use_jedi = False  # fix broken autocomplete

## Read data files

In [21]:
df_mon = pd.read_csv('data/monday.csv', sep=";")

In [22]:
df_tue = pd.read_csv('data/tuesday.csv', sep=";")

In [23]:
df_wed = pd.read_csv('data/wednesday.csv', sep=";")

In [24]:
df_thu = pd.read_csv('data/thursday.csv', sep=";")

In [25]:
df_fri = pd.read_csv('data/friday.csv', sep=";")

## Merge data

In [26]:
df = pd.concat([df_mon, df_tue, df_wed, df_thu, df_fri])

In [27]:
df

                timestamp  customer_no  location
0     2019-09-02 07:03:00            1     dairy
1     2019-09-02 07:03:00            2     dairy
2     2019-09-02 07:04:00            3     dairy
3     2019-09-02 07:04:00            4     dairy
4     2019-09-02 07:04:00            5    spices
...                   ...          ...       ...
5120  2019-09-06 21:50:00         1500     dairy
5121  2019-09-06 21:50:00         1507  checkout
5122  2019-09-06 21:50:00         1508  checkout
5123  2019-09-06 21:50:00         1509    drinks
5124  2019-09-06 21:50:00         1510    spices

[24877 rows x 3 columns]

In [28]:
df.shape

(24877, 3)

In [29]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [30]:
df['weekday'] = df['timestamp'].dt.day_name()

In [31]:
df['time'] = df['timestamp'].dt.time

In [32]:
# Add unique customer index
df['customer_id']=df['weekday'].astype(str) + ' ' + df['customer_no'].astype(str)

## Save data

In [34]:
df.to_csv('data/full_data.csv', sep=";")

In [35]:
df.dtypes

timestamp      datetime64[ns]
customer_no             int64
location               object
weekday                object
time                   object
customer_id            object
dtype: object

In [36]:
df

               timestamp  customer_no  location weekday      time  customer_id
0    2019-09-02 07:03:00            1     dairy  Monday  07:03:00     Monday 1
1    2019-09-02 07:03:00            2     dairy  Monday  07:03:00     Monday 2
2    2019-09-02 07:04:00            3     dairy  Monday  07:04:00     Monday 3
3    2019-09-02 07:04:00            4     dairy  Monday  07:04:00     Monday 4
4    2019-09-02 07:04:00            5    spices  Monday  07:04:00     Monday 5
...                  ...          ...       ...     ...       ...          ...
5120 2019-09-06 21:50:00         1500     dairy  Friday  21:50:00  Friday 1500
5121 2019-09-06 21:50:00         1507  checkout  Friday  21:50:00  Friday 1507
5122 2019-09-06 21:50:00         1508  checkout  Friday  21:50:00  Friday 1508
5123 2019-09-06 21:50:00         1509    drinks  Friday  21:50:00  Friday 1509
5124 2019-09-06 21:50:00         1510    spices  Friday  21:50:00  Friday 1510

[24877 rows x 6 columns]