In [98]:
# Import general libraries
import pandas as pd

In [99]:
%config Completer.use_jedi = False  # fix broken autocomplete

## Read data files

In [100]:
df_mon = pd.read_csv('data/monday.csv', sep=";")

In [101]:
df_tue = pd.read_csv('data/tuesday.csv', sep=";")

In [102]:
df_wed = pd.read_csv('data/wednesday.csv', sep=";")

In [103]:
df_thu = pd.read_csv('data/thursday.csv', sep=";")

In [104]:
df_fri = pd.read_csv('data/friday.csv', sep=";")

## Merge data

In [105]:
df = pd.concat([df_mon, df_tue, df_wed, df_thu, df_fri])

In [106]:
df

                timestamp  customer_no  location
0     2019-09-02 07:03:00            1     dairy
1     2019-09-02 07:03:00            2     dairy
2     2019-09-02 07:04:00            3     dairy
3     2019-09-02 07:04:00            4     dairy
4     2019-09-02 07:04:00            5    spices
...                   ...          ...       ...
5120  2019-09-06 21:50:00         1500     dairy
5121  2019-09-06 21:50:00         1507  checkout
5122  2019-09-06 21:50:00         1508  checkout
5123  2019-09-06 21:50:00         1509    drinks
5124  2019-09-06 21:50:00         1510    spices

[24877 rows x 3 columns]

In [107]:
df.shape

(24877, 3)

In [109]:
new_col = range(1,len(df)+1)
df.insert(loc=2, column='new_id', value=new_col)

In [110]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [111]:
df['weekday'] = df['timestamp'].dt.day_name()

In [112]:
df['time'] = df['timestamp'].dt.time

In [113]:
df.set_index('timestamp')

                     customer_no  new_id  location weekday      time
timestamp
2019-09-02 07:03:00            1       1     dairy  Monday  07:03:00
2019-09-02 07:03:00            2       2     dairy  Monday  07:03:00
2019-09-02 07:04:00            3       3     dairy  Monday  07:04:00
2019-09-02 07:04:00            4       4     dairy  Monday  07:04:00
2019-09-02 07:04:00            5       5    spices  Monday  07:04:00
...                          ...     ...       ...     ...       ...
2019-09-06 21:50:00         1500   24873     dairy  Friday  21:50:00
2019-09-06 21:50:00         1507   24874  checkout  Friday  21:50:00
2019-09-06 21:50:00         1508   24875  checkout  Friday  21:50:00
2019-09-06 21:50:00         1509   24876    drinks  Friday  21:50:00
2019-09-06 21:50:00         1510   24877    spices  Friday  21:50:00

[24877 rows x 5 columns]

## Save data

In [115]:
df.to_csv('data/data.csv', sep=";")