In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
plt.rcParams['figure.figsize'] = (20,6)

In [42]:
data = pd.read_csv('data/full_data.csv', delimiter = ';', parse_dates=True)

In [43]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [44]:
data.dtypes

timestamp      datetime64[ns]
customer_no             int64
location               object
weekday                object
time                   object
customer_id            object
dtype: object

In [45]:
# Number of customers that are not "checked out"
(data['customer_id'].nunique()) - (data[data['location'] == 'checkout'].value_counts().count())

28

In [46]:
# Drop these 28 customers

In [47]:
data.sort_values(['customer_id', 'timestamp'], inplace=True)

In [48]:
data.set_index('timestamp', inplace=True)

In [49]:
data.index

DatetimeIndex(['2019-09-06 07:00:00', '2019-09-06 07:04:00',
               '2019-09-06 07:05:00', '2019-09-06 07:06:00',
               '2019-09-06 07:11:00', '2019-09-06 08:03:00',
               '2019-09-06 08:04:00', '2019-09-06 17:19:00',
               '2019-09-06 17:20:00', '2019-09-06 17:19:00',
               ...
               '2019-09-04 16:53:00', '2019-09-04 16:54:00',
               '2019-09-04 17:09:00', '2019-09-04 17:10:00',
               '2019-09-04 17:14:00', '2019-09-04 16:53:00',
               '2019-09-04 16:57:00', '2019-09-04 16:59:00',
               '2019-09-04 16:53:00', '2019-09-04 16:54:00'],
              dtype='datetime64[ns]', name='timestamp', length=24877, freq=None)

In [50]:
# To fill in rows for the minutes that are not in the files,
data.groupby('customer_id').resample('1min').fillna('ffill')

                                   customer_no  location    weekday      time  \
customer_id   timestamp
Friday 1      2019-09-06 07:00:00            1     dairy     Friday  07:00:00
              2019-09-06 07:01:00            1     dairy     Friday  07:00:00
              2019-09-06 07:02:00            1     dairy     Friday  07:00:00
              2019-09-06 07:03:00            1     dairy     Friday  07:00:00
              2019-09-06 07:04:00            1    spices     Friday  07:04:00
...                                        ...       ...        ...       ...
Wednesday 998 2019-09-04 16:57:00          998     fruit  Wednesday  16:57:00
              2019-09-04 16:58:00          998     fruit  Wednesday  16:57:00
              2019-09-04 16:59:00          998  checkout  Wednesday  16:59:00
Wednesday 999 2019-09-04 16:53:00          999     fruit  Wednesday  16:53:00
              2019-09-04 16:54:00          999  checkout  Wednesday  16:54:00

                                     customer_id
customer_id   timestamp
Friday 1      2019-09-06 07:00:00       Friday 1
              2019-09-06 07:01:00       Friday 1
              2019-09-06 07:02:00       Friday 1
              2019-09-06 07:03:00       Friday 1
              2019-09-06 07:04:00       Friday 1
...                                          ...
Wednesday 998 2019-09-04 16:57:00  Wednesday 998
              2019-09-04 16:58:00  Wednesday 998
              2019-09-04 16:59:00  Wednesday 998
Wednesday 999 2019-09-04 16:53:00  Wednesday 999
              2019-09-04 16:54:00  Wednesday 999

[53903 rows x 5 columns]

In [ ]:
data['before'] = data['location']
data['after'] = data['before'].shift(-1)
data.tail(20)